{{!< layout}}
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 title">
            <h3>Bé Tập Đếm</h3>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <div class="row center">
                    <label for="firstNumber" class="d-block col-md-2">Số thứ nhất</label>
                    <input type="text" class="form-control col-md-4" id="firstNumber" onfocusout="checkNumber('firstNumber')" />
                    <div class="custom-control custom-radio">
                    <input type="radio" value="add" name="operation" id="add" class="custom-control-input ml-2"/>
                    <label for="add" class="custom-control-label ml-2">Cộng</label>
                    </div>
                    <div class="custom-control custom-radio">
                    <input type="radio" value="sub" name="operation" id="sub" class="custom-control-input ml-2"/>
                    <label for="sub" class="custom-control-label ml-2">Trừ</label>
                    </div>
                </div>
                <div class="h-5"></div>
                <div class="row center">
                    <label for="secondNumber" class="d-block col-md-2">Số thứ hai</label>
                    <input type="text" class="form-control col-md-4" id="secondNumber" onfocusout="checkNumber('secondNumber')" />
                    <div class="custom-control custom-radio">
                    <input type="radio" value="mult" name="operation" id="mult" class="custom-control-input ml-2"/>
                    <label for="mult" class="custom-control-label ml-2">Nhân</label>
                    </div>
                    <div class="custom-control custom-radio">
                    <input type="radio" value="div" name="operation" id="div" class="custom-control-input ml-2"/>
                    <label for="div" class="custom-control-label ml-2">Chia</label>
                    </div>
                </div>
                <div class="h-5"></div>
                <div class="row center">
                    <label for="result" class="d-block col-md-2">Kết quả</label>
                    <input type="text" class="form-control col-md-4" id="result" readonly />
                    <button class="btn btn-primary ml-2" onclick="calc()">Tính</button>
                </div>
                <div class="h-5"></div>
                <div class="row">
                    <label class="d-block col-md-2">Thông báo</label>
                    <div class="col-md-4 color-red p-0" id="notify"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5cad8f74557d5f68515bd26d/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

