<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="icon" href="img/turtle.jpeg">
    <link rel="stylesheet" href="webAnimation.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <script>
        //show dropdown menu:
        function showDropDown() {
            $('.learn_menu').css('display','block');
        }
        function hiddenDropDown() {
            if ($('.learn_menu:hover').length === 0) {
                // do something ;)
                $('.learn_menu').css('display','none');
            }
        }
		$( document ).ready(function() {
			$('input[name="email"]').on('focusout',function(){
				//get data 
				let email = $('input[name="email"]').val();
				$.ajax({
					url: "/ajax/register",
					type: "post",
					data: {
						email: email
					},
					dataType: 'json',
				success: function(result){
					console.log(result['status']);
					if (result['status']) $('#correct').css('display','inline-block');
					else  $('#error').css('display','inline-block');
				}
				});
			});
			$('input[name="email"]').on('focusin',function(){
				$('#correct').css('display','none');
				$('#error').css('display','none');
			});
			$("button[type='submit']").click(function(e){
				if ($('#correct').css('display') === "none") e.preventDefault();
			});
		});
		
    </script>

</head>
<body>
<div class="header" style="min-height: 750px;">
    <div class="contact1">
        <p>Have any questions? </p>
        <i class="fa fa-phone-square" aria-hidden="true"></i><a href="">+84 1222 000 596</a>
        <i class="fa fa-envelope-square" aria-hidden="true"></i><a href="">Englishturtle@gmail.com</a>
    </div>
    <div class="menu">
        <p class="name"><span>English</span><i style="color:#00000094;">|</i>Turtle</p>
        <div class="choice active">
            <a href="">Home</a>
        </div>
        <div class="duongke"></div>
        <div class="choice">
            <a href="">About Us</a>
        </div>
        <div class="duongke"></div>
        <div class="choice">
            <a href="">Contact</a>
        </div>
        <div class="duongke"></div>
        <div class="choice" onmouseover="showDropDown();" onmouseout="hiddenDropDown()">
            <span class="learn" >Learn English<i class="arrow down"></i></span>
        </div>
        <div class="learn_menu" onmouseover="showDropDown();" onmouseout="hiddenDropDown();">
            <a href="/Vocabulary">Learn Vocabulary</a>
            <hr>
            <a href="/Grammar">Learn Grammar</a>
            <hr>
            <a href="/Listening">Learn Listening</a>
            <hr>
        </div>
        <div class="duongke"></div>
        <div class="choice end">
            <a id = "login" href="/login">Login</a>
        </div>
    </div>
    <div class="content1">
        <form id= "formRegister" action="" method="post">
            <div class="container">
                <h2 style="color: blue">Register</h2>
                <p>Please fill in this form to create an account.</p>
                <hr>
                <label for="email"><b>Email</b></label>
                <input type="email" placeholder="Enter Email" name="email" required >
				<i class="fa fa-check" id="correct" style="color: green;position: absolute;top: 107px;left: 464px;display:none"></i>
				<i class="fa fa-times" id="error" style="color: red;position: absolute;top: 107px;left: 464px;display:none"></i>
                <p style="color:red; margin-bottom: 5px;">{{status_email}}</p>
                <label for="name"><b>Name</b></label>
                <input type="text" placeholder="Enter Name" name="name" required minlength="6">
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required minlength="6">
                <label for="psw-repeat"><b>Repeat Password</b></label>
                <input type="password" placeholder="Repeat Password" name="password_repeat" required minlength="6">
                <p style="color:red;margin-bottom: 5px;">{{status_password}}</p>
                <hr>

                <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
                <button type="submit" class="registerbtn">Register</button>
            </div>

            <div class="container signin">
                <p>Already have an account? <a href="/login">Sign in</a>.</p>
            </div>
        </form>
    </div>
    <img id="bigPic" src="4.png" alt="">
</div>
<footer id="footer">
    <div class="Top">
        <div class="row">
            <div class="footer-ribbon">
                <div class="Social">
                    Be Social
                </div>
                <div class="deco"></div>
            </div>
            <div class="row"><!-- Open social div -->
                <h4>Follow Us</h4>
                <ul class="social-icons">
                    <li class="social-icons-googleplus"><a href="https://plus.google.com/+learnenglishnetwork/posts" target="_blank" rel="publisher" title="Learn English on Google Plus"><i class="fa fa-google-plus"></i></a></li>
                    <li class="social-icons-skype"><a href="learnenglishonskype.html" title="Learn English on Skype"><i class="fa fa-skype"></i></a></li>
                    <li class="social-icons-facebook"><a href="https://www.facebook.com/LearnEnglishNetwork.LEN" target="_blank" title="Learn English on Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li class="social-icons-twitter"><a href="https://www.twitter.com/LearnEnglishLEN/" target="_blank" title="Learn English on Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li class="social-icons-flickr"><a href="https://www.flickr.com/groups/learn_english/" target="_blank" title="Learn English on Flickr"><i class="fa fa-flickr"></i></a></li>
                    <li class="social-icons-youtube"><a href="https://www.youtube.com/channel/UCOt0yTQiI8Q_B1lEaG9zntg" target="_blank" title="YouTube"><i class="fa fa-youtube"></i></a></li>
                    <li class="social-icons-pinterest"><a href="https://uk.pinterest.com/lynnehand/learn-english/" target="_blank" title="Learn English on Pinterest"><i class="fa fa-pinterest"></i></a></li>
                </ul><!-- End social -->
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="col1">
            <a href="//www.learnenglish.de/" class="logo">
                <img alt="Learn English Free" width="67" height="33" class="img-responsive" src="img/logo-footer.png">
            </a>
        </div>
        <div class="col7">
            <div class="wrap">
                <div class="para">© Copyright 1999 - 2018 Learn English Network - All Rights Reserved</div>
                <div class="para"><i class="fa fa-info-circle"></i> These pages are best viewed using the latest version of Chrome, Firefox, or IE.</div>
            </div>
        </div>
        <div class="col4">
            <nav id="sub-menu">
                <ul>
                    <li><a href="faqspage.html">FAQs</a></li>
                    <li><a href="http://www.learn-english-network.org/">English Turtle	</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
</body>
</html>